@import './variables';
@import './mixins/index.scss'; 

body {
    margin: 0;
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  * {
    font-family: $font-primary;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  

@import './components/navbar.scss';
@import './components//toggle.scss';
@import './components/header.scss';
@import './components/footer.scss' ; 
@import './components/button.scss';
@import './components/cardDictamen.scss';
@import './components/cardNoticias.scss';
@import './components//cardClientes.scss';
@import './components/headerView.scss'; 
@import './components/spinners.scss'; 
@import './components/cardEmision.scss';
@import './components/modal.scss'; 
@import './components/switch.scss'; 
@import './components/scrollBar.scss';
@import './components/select.scss'; 
@import './components/input.scss';
@import './components/shareFriend.scss'; 
@import './components/pagination.scss'; 
@import './components/pill.scss';

@import './views/dictamenes.scss'; 
@import './views//noticias.scss';
@import './views/index.scss';
@import './views/loadingPage.scss'; 
@import './views/calificacionDeRiesgo.scss'; 
@import './views/clientes.scss';
@import './views/profileClient.scss';
@import './views/dictamen.scss'; 
@import './views/estadisticas.scss';
@import './views/contact.scss'; 
@import './views/nosotros.scss';
@import './views/leyesNormativas.scss'; 
@import './views/leyNormativa.scss';
