
$navbar-color:  rgba(rgb(255, 255, 255), .98);
$navbar-padding-base: 0.625rem;
$sidenav-background: linear-gradient(#2CA8FF, rgba(0,0,0,0.95) ); 

$filter-header: linear-gradient(#2c2c39d3,rgb(255, 255, 255)); 

$color-letter-header: rgb(37, 37, 37);
$height-header : 100% !important ; 



$footer-color: #2c2c39; 
$footer-color-copyrigth:#242433;

$navbar-transparent: rgba(206, 206, 206, 0.4);
$color-primary: #2CA8FF;
$color-secondary: rgb(38, 151, 231);