.btn-round {
    border-radius: 500px;
}
.btn-color-primary {
    background: $color-primary;
    color: #FFFFFF;
    outline: none;
    border: none;
    text-decoration: none;
    &:hover {
        color: #FFFFFF;
        text-shadow: 0 0 1px  #FFFFFF;
        background: $color-secondary;

    }
}

.btn-invisible{
    padding:0; 
    margin: 0; 
    display: flex;
    justify-content: flex-end;
    
    &:focus {
        outline: none;
        box-shadow: none;
        
    }
   i {
       color: $color-tertiary; 
       font-size: 3em; 
       &:focus, &:hover {
           opacity: .9;
       }
   }
}