
.cardClientes {
    border:0;
    margin:.5rem;
    margin-bottom: 1rem;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1) ,  1px 1px 1px rgba(0,0,0,0.3);
    @include transition(.5s, ease-in-out); 
    background: rgb(2,0,36);
    background: linear-gradient(332deg, rgba(4, 1, 70, 0.2) 0%, rgba(0, 213, 255, 0.08) 35%, rgba(255,255,255,1) 96%);
    &:hover {
        text-decoration: none;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1) ,3px 3px 3px rgba(0,0,0,0.3);
        opacity: .8;

        .decorate3 {
        
            width: 12rem;
            max-width: 100%;
            display:flex; 
            flex-direction: column;
            justify-content: center;
            align-items: center;
            clip-path: polygon(100% 36%, 87% 58%, 100% 76%, 0 77%, 0 37%);
            background: linear-gradient($color-primary,$color-tertiary);
            box-shadow: inset 0 0 7px rgba(0,0,0,0.8);
          
        }
    }
    .card-image{
        width:100%;
        height: 8rem;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        img {
            width:8rem;
            height: 8rem;
        }
        
    }
    .decorate1 {
        position: absolute;
        clip-path: polygon(10% 0, 30% 0, 0 30%, 0 10%);
        background: linear-gradient($color-primary,$color-tertiary);
        height: 7rem;
        width: 7rem;
        box-shadow: inset 0 0 7px rgba(0,0,0,0.8);
    }
    .decorate2 {
        position: absolute;
        right:0; 
        clip-path: polygon(70% 0, 90% 0, 100% 10%, 100% 30%);
        background: linear-gradient($color-primary,$color-tertiary);
        height: 7rem;
        width: 7rem;
        box-shadow: inset 0 0 7px rgba(0,0,0,0.8);
    }
    .card-title {
      margin:0; 
    padding: 0;
    padding-left: 1rem;;
    width: 100%;
        text-align: left;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1em;
        margin:2rem;
        margin-bottom: 1.5rem;
        text-shadow: 0 0 3px rgba(255,255,255,0.2);
       
          color: #FFFFFF;
    }
    .decorate3 {
        
        width: 11rem;
        max-width: 100%;
        display:flex; 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        clip-path: polygon(100% 36%, 87% 58%, 100% 76%, 0 77%, 0 37%);
        background: linear-gradient($color-primary,$color-tertiary);
        box-shadow: inset 0 0 7px rgba(0,0,0,0.8);
        @include transition(.5s, ease-in-out); 
      
    }
   
   
}