.cardEmision {
 background: transparent; 
 margin:1rem; 
 border:none;
  width:100%; 
  .card-body {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin:0;
    padding-bottom:0;
  }
   .card-title {
       font-weight: bold;
        color:$color-title1;
   }
   .btns {
     .btn {
       margin-left: 2rem;
     }
   }

  
}