
.cardClientes {
    border:0;
    margin:.5rem;
    margin-bottom: 1rem;
    box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1) ,  1px 1px 1px rgba(0,0,0,0.3);
    @include transition(.5s, ease-in-out); 
    
    &:hover {
        text-decoration: none;
        box-shadow: inset 2px 2px 2px rgba(0,0,0,0.1) ,3px 3px 3px rgba(0,0,0,0.3);
        opacity: .8;

   
} 
.img-fluid{
    width: auto;
    height: 13rem;
    width:100%;
    object-fit:fill; 
} } 