.page-footer {
    padding-top: 3rem;
   
    background: $footer-color; 
    color: rgb(0, 0, 0); 
    .row .col-footer {
      
        @media screen and (min-width:992px) {
            border-right: .2rem solid rgba($footer-color-copyrigth, 0.1); 
            padding: 1rem;
        }
    }
    .finanzasDigital {
        display:inline-block; 
        background: url("../img/pic_footerlogoFD_gris.png") no-repeat center; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        width:11rem;
        height:5rem; 
         @include transition(.3s , ease-in-out);
        &:hover{
          background-image: url("../img/pic_footerlogoFD_color.png"); 
       } }

       .globalScope{
        display:inline-block; 
        background: url("../img/pic_footerlogoGS_gris.png") no-repeat center ; 
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        background-size: contain;
        width:11rem;
        height:3rem; 
        @include transition(.3s , ease-in-out);
        &:hover{
          background-image: url("../img/pic_footerlogoGS_color.png"); 
        } }
       
    .footer-copyright {
        padding:.5rem;
        background: $footer-color-copyrigth; 
        display: flex; 
        color: rgb(255, 255, 255); 
        align-items:center;
        margin-top:3rem; 
        min-height:  4rem; 
        a {
            color: rgb(255, 255, 255); 
            &:hover {
                text-decoration: none; 
            }
        }
    }
    .container-fluid {
        max-width: 70rem; 
    }
    
    p {
         text-align: justify;
        font-size: .8em;
    }
  
   
    }

