.page-header {
  .page-header-image {
    position: relative;
    .img-carousel {
      max-height: $height-header;
      @media screen and (max-width: 992px) {
        height: auto;
      }
    }
  }

  @keyframes animation1 {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .page-header-mini-carousel {
    display: flex;
    color: $color-letter-header;
    position: absolute;
    z-index: 50;
    top: 35vh;
    padding-left: calc((100% - 1200px) / 2);
    z-index: 200;
    max-width: 95vw;
    .carousel-item {
      display: flex;
      align-items: center;
      width: 40rem;
      max-width: 90vw;
      padding: 0.5rem;

      &.active {
        animation: animation1 2s linear;
      }
    }

    .carousel-inner {
      background: linear-gradient(
        rgba($color-primary, 0.3),
        rgba($color-primary, 0.8)
      );
      box-shadow: 0 0 1px $color-primary;
      height: auto;
      display: flex;
      align-items: center;
    }

    .h3-responsive {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0.5rem;
      margin: 0;
      width: 100%;
      font-weight: 900;
      color: rgb(255, 255, 255);
      text-shadow: 0 0 1px rgb(255, 255, 255);
    }

    top: 20vw;
    @media screen and(min-width:992px) {
      top: 50vh;
    }
    @media screen and(max-width:768px) {
      .h3-responsive {
        font-size: 1.2rem;
      }
    }
    @media screen and(max-width:576px) {
      .h3-responsive {
        font-size: 1rem;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .page-header-mini-carousel {
    .h3-responsive {
      font-size: 1.6rem;
    }
  }
}
@media screen and (min-width: 992px) {
  .page-header-mini-carousel {
    .h3-responsive {
      font-size: 1.825rem;
    }
  }
}
