.form-control {
    border: none; 
    border-radius: 0;
    border-bottom: $color-primary solid 1.5px;
    padding: 0;
    height: auto;
    transition: border .3s ease-in-out;

 
    
    &:focus {
        box-shadow: none;
        outline: none; 
        border-color: $color-tertiary;
    }

   
  
} 
