.navbar {
  position: fixed;
  z-index: 500;
  width: 100%;
  background: $navbar-color;
  transition: background 0.3s ease-in-out;
  padding-top: $navbar-padding-base;
  padding-bottom: $navbar-padding-base;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  .container {
    padding: 0;
  }
  .navbar-brand {
    padding: 0;
    margin: 0;
    margin-right: 4rem;
  }

  .GlobalRatingLogo {
    margin: 0;
    width: $width-logo;
    @include transition(0.2s, ease-in-out);
    @media screen and (max-width: 991px) {
      width: 5rem;
    }
  }

  a {
    outline: none;
    font-size: 0.9rem;
    font-weight: 600;
    vertical-align: middle;
    color: $font-color-primary;
    transition: color 0.2s ease-in-out;
  }

  p {
    display: inline-block;
    margin: 0;
    line-height: 21px;
    font-weight: inherit;
    font-size: inherit;
  }
}
.navbar-transparent {
  background: $navbar-transparent !important;
  a {
    &:not(.btn):not(.dropdown-item) {
      color: rgb(255, 255, 255);
    }
  }
  .toggle span {
    background: rgba(255, 255, 255, 0.856);
  }
}
.nav-open {
  background: $navbar-color;
  a {
    color: $font-color-primary;
  }
}

@media screen and (min-width: 992px) {
  .navbar-collapse {
    display: none;
  }
}
