.container-load-posts {
  display: flex;
  justify-content: center;
  height: 30vh;
  align-items: center;
  width: 100%;
  .spinner-border {
    color: $color-primary;
    width: 2.5rem;
    height: 2.5rem;
  }
}
