.title {
  display: flex;
  margin-bottom: 1.8rem;
  width: 100%;
  text-align: center;
  h2,
  h3 {
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-weight: $font-weight-title;
    &:after {
      content: "";
      height: $height-underline;
      background: $color-primary;
      width: 150%;
    }
    @media screen and (max-width: 992px) {
      font-size: 1.5em;
    }
    @media screen and (max-width: 768px) {
      font-size: 1.4em;
    }
    @media screen and (max-width: 576px) {
      font-size: 1.3em;
    }
  }
}
