.toggle {
    display: none; 
}
@media screen and (max-width:991px) {
.toggle {
    display:flex;
    flex-direction:column;
    justify-content:center;
    transition: all 300ms linear; 
    cursor:pointer;
    span {
       height: 2px;
       width: 1.4rem;
       background:rgba(255, 255, 255, 0.856); 
       box-shadow: 0 0 2px rgba(0,0,0,0.5); 
       margin:.2rem;
       transition: margin .3s ease-in-out;
   }
     &:hover {
         .line1 {
             margin-bottom: .35rem;
         }
         .line3 {
             margin-top: .35rem;
         }
     }
   }
}

