.clientesContainer {
  min-height: 100vh;
  padding: 0.8rem;
  padding-top: 1.8rem;
  background: $color-background;
  .container {
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .filter {
        display: flex;
        margin-top: 2rem;
        span,
        label {
          margin-right: 0.3rem;
        }
        label {
          cursor: pointer;
          &:hover {
            text-shadow: 0 0 0.2px black;
          }
        }
      }
    }
  }
}
