.clientesContainer{
     min-height: 100vh;
     margin-top: 2rem;
    .container {

        .title {
            display: flex;
           align-items: center;
            justify-content: space-between;
            h2 {
                font-size:1.8em; 
                display: flex;
                flex-direction: column;
                padding-left: 1rem; ;
    
                &:after {
                content: "";
                height:$height-underline;
                background: $color-primary; 
                min-width: 90%;
            width: 20rem; 
            max-width: 100%;
            }
        } 
        .filter {
            display: flex;
            margin-top: 2rem; 
            span,label {
                margin-right:.3rem; 
            }
            label {
                cursor:pointer; 
                &:hover {
                    text-shadow: 0 0 .2px black; 
                }
            }

        }
        
    }
}


}