.dictamenes {
    margin-top:4rem;
    margin-bottom:4rem;
    width:100%;
    .dictamenes-title {
        margin-bottom:3rem;
        width:100%; 
        color: rgba(71, 71, 71, 0.877); 
        text-align: center;
        h2{ 
            font-size:1.8em; 
            display: flex;
            flex-direction: column;
            text-align: justify;
            &:after {
                content: "";
                height:$height-underline;
                background: $color-primary; 
                width: 40vw;  
                min-width: 90%;
                max-width: 100%; }
    
        }
    }
    .row-button {
        display:flex; 
       
        justify-content: flex-end; 
        margin:.5rem;
        button {
            
            width: 10rem ;
            font-size: 1.2em; 

        }
    }
    
}