.dictamen {
  padding-top: 4rem;
  min-height: 100vh;
  background: $color-background;
  br {
    display: none;
  }

  .col-scribd {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .contentHtml {
      position: relative;
      top: -5rem;
      min-height: 90%;
      height: 0;
      width: 100%;
      @media screen and (max-width: 576px) {
        height: 100vh;
      }
      padding: 1rem;
    }
  }

  iframe {
    margin-top: 3rem;
    min-height: 100%;

    box-shadow: 0 0 0.7px rgba(#000000, 0.5);
    @media screen and (max-width: 576px) {
      height: 20rem;
    }
  }

  .options {
    margin-top: 0;
    display: flex;
    justify-content: space-between;

    .btn {
      margin: 0.5rem;
    }
  }
  .date {
    position: relative;
    bottom: 1.5rem;
  }
}
