    br {
        display: none;
    }    
    
    .space {
        margin-bottom: 2rem;
    }
    
    .dictamen {
    text-align: justify;
    min-height: 100vh;
    padding-top: 1.8rem;
    background: $color-background;





    .title {
        margin-bottom: 1rem;
        margin-top: 2rem;
        margin: 0;


        h2 {
            font-size: 1.4em;
            display: flex;
            flex-direction: column;

            font-weight: $font-weight-title;

            &:after {
                content: "";
                height: $height-underline;
                background: $color-primary;
                width: 20rem;
                min-width: 90%;

            }
        }
    }

    .backgroundLogo {
        position: absolute;
        top: 30vh;
        display: block;
        opacity: .2;
        z-index: -100;
        width: 100%;
        height: 50vh;
    }

    .col-scribd {
        min-height: 100% !important;


        .contentHtml {
            
            min-height: 90% !important;
            height: 0;

        }

    }

    iframe {
        margin-top: 3rem;
        min-height: 100% !important;

        box-shadow: 0 0 .7px rgba(#000000, 0.5);
    }

    .options {
        display: flex;
        justify-content: space-between;

        .btn {
            margin: .5rem;
        }
    }



}