.dictamenes {
  padding-top: 2rem;
  padding: 0.8rem;
  width: 100%;
  background: $color-background;

  .row-button {
    display: flex;

    justify-content: flex-end;
    margin: 0.5rem;
    margin-bottom: 2rem;
    button {
      width: 10rem;
      font-size: 1.2em;
    }
  }
}
