.estadisticas-pag {
  padding: 0.8rem;
  min-height: 100vh;
  padding-top: 1.8rem;
  background: $color-background;
  .leyenda,
  thead {
    align-items: center;
    .parentesis {
      font-size: 0.7em;
      i {
        font-size: 0.5em;
        padding: 0.1rem;
        position: relative;
        bottom: 0.15rem;
        left: 0.01093rem;
      }
    }
  }
  .leyenda {
    font-size: 0.8em;
  }

  .row-select {
    margin-bottom: 1rem;
    .select {
      width: 10rem;
      max-width: 100%;
    }
  }
  .row-table {
    padding-right: 1rem;
    @import "../components/table.scss";
  }
  .total {
    font-size: 1.2em;
    color: $color-secondary;
    font-weight: 900;
  }
  .row-btn {
    .btn {
      margin-left: 40%;
      margin-right: 40%;
    }
  }
  .row-text-center {
    text-align: center;
  }
  .row-text-right {
    text-align: right;
  }
}
