.estadisticas-pag {
    min-height: 100vh;
    padding-top: 2rem;
    .title {
        display: flex;
        h2 {
            font-size:1.8em; 
            display: flex;
            flex-direction: column;
          

            &:after {
            content: "";
            height: .1rem;
            background: $color-primary;
            width: 20rem; 
            max-width: 100%;
        }
    } }
    .row-select{
        margin-bottom: 1rem;
        .select{
            width:10rem; 
            max-width: 100%;
           
        }
    }
    .row-table{
        padding-right:1rem; 
        @import '../components/table.scss'; 
    }
    .total { display: flex;
            flex-direction: column;
            background: $footer-color; 
            padding: .7rem; 
            padding-left:1rem;
            width: 50vh;
            min-width: 8rem;
            margin:1rem;
            margin-left: 0;
          
        span {
            font-size:1.2em; 
            display: flex;
            justify-content: space-between;
            b {
                color:$color-secondary; 
            }
            
        }
      
    }
}