
.page-leyes-normativas {
    min-height: 100vh;
    display: flex;
    padding-top: 2rem;
    flex-direction: column;
    justify-content: space-between;
    .container {
      
        .title {
   
            h2 {
                font-size:1.8em; 
                display: flex;
                flex-direction: column;
                &:after {
                content: "";
                height: .1rem;
                background: $color-primary; 
                min-width: 90%;
                width: 20rem; 
                max-width: 100%;
            }
        } 
        
}   
ul {
    padding: 0;
    list-style: none;
}
li {
   
   margin-top: 2rem;
}
    a{ 
            font-size:1.8em; 
            color:$color-primary; 
            &:hover {
                text-decoration: none;
            }
            &:focus {
                outline: none;
            }
        }
   

    }
    .rowCompartir{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2rem;
        .btn {
          
            i { color:$color-primary;   }
            &:focus {
                box-shadow: none;
            }
        }
    
    }
}