.page-ley-normativa {
    min-height: 100vh;
    padding-top: 2rem;
    
    .title {
        margin-bottom: 2rem; 
        margin-top: 2rem; 
        h2 {
            font-size:1.4em; 
            display: flex;
            flex-direction: column;
            padding-left: 1rem; ;

            &:after {
            content: "";
            height:$height-underline;
            background: $color-primary; 
            width:120%; 
            @media screen and (max-width:991px) {
             width:100%; 
            }
           
        }
    } 
    }
    .btns-control {
        display: flex;
        margin-top: 2rem;
        justify-content: space-between;
    }
    .btns-control-2 {
        display: flex;
        margin-top: 2rem;
        justify-content: flex-end;

    }
}