.page-nosotros {
  min-height: 100vh;
  background: $color-background;
  padding: 0.8rem;
  padding-top: 4rem;
  .container {
    p {
      font-size: 0.8em;
      padding: 0.2rem;
    }
    ul {
      font-size: 0.8em;
      padding: 0.2rem;
      list-style: none;
      padding-left: 0;
      p {
        font-size: 1em;
      }
    }
    .img-logo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding-bottom: 2rem;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}
