.noticias {
    width: 100%;
     background: rgb(250, 250, 250);
    .title-noticias{
        margin-bottom:3rem;
        width:100%; 
        color: rgb(70, 70, 70);
        text-align: center;
        h2{ 
            font-size:1.8em; 
        }

    }
    .row-button {
        display:flex; 
        justify-content: flex-end; 
        margin:.5rem;
        margin-bottom: 2rem;
        button {
            width: 10rem ;
            font-size: 1.2em; 

        }
    }
}