.noticias {
    width: 100%;
     background: rgb(250, 250, 250);
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-top: 2rem;
     align-items: center;
    .title-noticias{
        margin-bottom:2rem;
        width: 100%; 
        color: rgb(70, 70, 70);
        text-align: justify;
        h2{ 
            font-size:1.8em; 
            display: flex;
            flex-direction: column;
            padding-left: 1rem; ;

            &:after {
            content: "";
            height: .1rem;
            background: $color-primary; 
            min-width: 90%;
            width: 40vw;  
            max-width: 100%;

            }
        }

    }
    .row-button {
        display:flex; 
        justify-content: flex-end; 
        margin:.5rem;
        margin-bottom: 2rem;
        button {
            width: 10rem ;
            font-size: 1.2em; 

        }
    }
}