.noticias {
    width: 100%;
    padding: 2rem;
     background: rgb(250, 250, 250);
    .title-noticias{
        margin-bottom:3rem;
        width:100%; 
        color: rgb(70, 70, 70);
        text-align: center;
        h2{ 
            font-size:1.8em; 
        }
    }
}