.CardNoticias {
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    align-items: center; 
    background: rgba(44, 168, 255, 0.8);
   box-shadow: 0px 0px 4px rgba(44, 168, 255, 0.64);
   border-radius: 10px; 
   padding: 1rem; 
   width: 15rem; 
   height: 25rem;
   opacity: 0.8; 
   cursor: pointer;
   margin: 2rem; 
   transition: all 0.3s ease-out; 
}
.CardNoticias img {
   
   margin: 0; 
   object-fit: cover;
   border-radius: 10px; 
   width: 15rem; 
   transition: all 0.3s ease-out; 
  
}

.CardNoticias:hover img {
  transform: scale(1.1);
  
}
.CardNoticias h4{
    color:#FFFFFF;
    font-size: 1.2rem; 
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}
 .CardNoticias span {
  color:rgb(221, 220, 220);
  font-size: 0.8rem; 
 }
  .CardNoticias .LinkLeer{
    display: flex; 
    justify-content: flex-end; 
    color: #151F42;
    font-size: 1rem; 
}
.CardNoticias .LinkLeer a{
  display: flex; 
  justify-content: flex-end; 
  color: #151F42;
  font-size: 1rem; 
}

.CardNoticias:hover  {

  transform: translate(-1rem,-2rem) scale(1.08);
  opacity: 1;
} 

.CardNoticias:hover img  {
    width: 20rem; 
  }
@media only screen and (max-width: 768px) {
    .CardDic {
        flex-direction: column;
    }
  }